<div class="signup-main side">
    
        <socialBar ></socialBar>
    

        <div class="row">
            <div class="signup-section "> 
                <div class="col-lg-12">
                <h2>Sign Up</h2>
                </div>
                <div class="col-lg-12">
                <div class="mt-32"><p class="body1"> Already registered? <a>LOG IN</a></p> </div>
              </div>
                <form class="mt-64">
                    <div class="row">
                    <div class="form-group col-lg-6">
                   
                      <input type="text" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="First Name">
                      
                    </div>
                    <div class="form-group col-lg-6">
                 
                        <input type="text" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Last Name">
                    </div>
                    <div class="form-group col-lg-3">
                    <select>
                        <option value="India">+91</option>
                        <option value="USA">+72</option>
                        
                      </select> 
                    </div>
                    <div class="form-group col-lg-9">
                 
                        <input type="text" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Last Name">
                    </div>
                    <div class="form-group col-lg-12">
                   
                        <input type="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                        
                      </div>
                      <div class="form-group col-lg-12">
                   
                        <input type="password"  id="exampleInputPassword1" placeholder="Password">
                      </div>
                      <div class="form-group col-lg-12">
                   
                          <input type="password"  id="exampleInputPassword1" placeholder="Re-enter Password">
                        </div>
                    
                    <div class="col-lg-12">
                    <p v-if="1" class="mt-16" class="error"> <i class="i-notification"></i> This is error</p>
                  </div>
                   <div class="col-lg-12">
                    <button type="submit" class="mt-32">Sign Up</button>
                    <!-- <div class="fb-login-button" data-width="" data-size="large" data-button-type="continue_with" data-auto-logout-link="false" data-use-continue-as="false">
                           login with facebook
                    </div> -->
                  </div>
                </div>
                  </form>
                  
                  <div class="absolute apply-as-fl">
                      <div class="row">
                        <div class="col-lg-12">
                          <P>Searching for work?</P>
                          <a class="mt-8">APPLY AS FREELANCER <i class="i-arrow-right2"></i></a>
                    </div>
                  </div>
                </div>
            </div>
            <div class="cover-section">
                    <cover></cover>
            </div>
        </div>
    

</div>
</div>