@import "../../assets/common.less";
@import "../../assets/fonts.less";

.project-form{
    height: 100%;
}

.side-container{
    height: 100%;
    margin-top: 10%;
    margin-top: max(128px);
}

.tab{
    
    margin: 32px 32px;
    widows: 100%;
    transition: .5s;
    display: flex; 
}
.tab-content{
    height: fit-content;
}

.tab-icon{
    
    height: 4px;
    width: 16px;
    transition: .5s;
    border-radius: 8px;
}
.tab-button{
    text-align: left;
    background: none;
    border: none;
    padding: 16px;
    transition: .5s;
}

.tab-active .tab-button h5{
    font-size: 32px !important;
    font-weight: bolder;
    color: @theme-color;
}
.tab-active .tab-icon{
    width: 32px;
    height: 4px;
    background: @theme-color;
    
}
.tab-done .tab-icon{
    
    background:  #25DF25 !important;
}

.controller{
    
    height: 96px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 0px 0px;
    
}


//Components

//Package
.package-container{    
    display: flex;
    flex-flow: row nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    margin: 16px 0px;
    height: 304px;
}

.package:first-child{
    margin-left: 0px;    
}
.package{
    flex: 0 0 auto;    
    color: white !important;
    border: none !important;
    border-radius: 16px;    
    height: 256px;
    width: 480px;
    margin:24px 8px;
    background: #F35252;    
}

.package h4{
    margin-top: 32px;
    padding: 0px 0px 0px 32px;    
    word-wrap: break-word;
}
.package p{
    padding: 0px 32px;
}
.pack-split-1{
    width: 55%;
}
.pack-split-2{
    width: 45%;
}
.package img{
    
    
    width: 216px;
    height: 256px;
    
}


//Serivice Pills
.service-pills{
    margin: 24px 0px;
    display: flex;
}
.service-pill{
    padding: 8px 16px;
    margin-right: 16px;
    width: fit-content;
    border-radius: 24px;
}
.service-pill-active{
    background: @theme-color;
    color: white;
    font-weight: bold;
}
.service-category{
    display: flex;
    flex-flow: row wrap;
}

.service{
    width: 216px;
    height: 160px;
    padding: 24px;   
    border-radius: 12px; 
    border: solid 1px black;
    margin-right: 16px;
    margin-bottom: 16px;
}

.service i{
    width: 48px;
    height: 48px;
}