<div class="projectForm" >
                <socialBar ></socialBar>   
    <div class="row no-wrap">
        <div class="side-container side">
                <div class="fixed" :class = "{'slide-up': currentTab === 2}">
                <div class="tab tab-done text-left">                        
                        <div class="v-center" >
                             <div class="tab-icon"></div>   
                        </div>                        
                        <div class="tab-button">
                                       <h5> Service Type</h5>
                        </div>
                </div>
                <div class="tab" :class="{ 'tab-active' : currentTab === 1, 'tab-done': currentTab === 2}">
                        
                                <div :class="{'v-down': currentTab === 1, 'v-center': currentTab === 2 }" >
                                                <div class="tab-icon"></div>   
                                           </div>
                        
                        <div class="tab-button" @click = "setTab(1)" >
                                        <h5> Choose Services</h5>
                        </div>
                </div>
                <div class="tab" :class="{ 'tab-active' : currentTab === 2}">
                                <div v-if="currentTab === 2" :class="{'v-down': currentTab === 2 }" >
                                                <div class="tab-icon"></div>   
                                           </div>
                        <div v-else class="v-center"><h5 class="numbering">03</h5></div>
                        <div class="tab-button" @click = "setTab(2)" >
                                        <h5> Project  Description</h5>
                        </div>
                </div> 
        </div>               
        </div>

        <div class="project-form " :style = "{'width': this.docW - 600 + 'px'}">
                <div v-if="currentTab == 1" class="tab-content"> 
                                                  
                        <div class="package-container mb-16">                                              
                                <div v-for="pack in packages" :style="{'background':pack.color}" class="package">
                                                <div class="row">
                                                        <div class="pack-split-1">
                                                        <h4 class="bold">{{pack.name}}</h4>
                                                        <p class="mt-8">Starting from {{pack.price}}/-</p>
                                                        <img class="forward" src="../../../static/assets/images/icons/forward.svg" height="35" width="48">
                                                        </div>
                                                        <div class="pack-split-2">
                                                        <img src=""/> 
                                                        </div>
                                                </div>                       
                                                          
                                </div>
                                
                               
                        </div>

                        <p class=""> or Choose services here</p>

                        <div class="service-pills">
                                <div class="service-pill service-pill-active"><p>All</p></div>
                                <div class="service-pill"><p>Brand Identity</p></div>
                                <div class="service-pill"><p>Advertisement</p></div>
                                <div class="service-pill"><p>Branding</p></div>
                                <div class="service-pill"><p>Web & Android</p></div>
                        </div>

                        <div class="service-category">
                                <div @click = "select(item.name, item.price)" v-for="(item, index) in services">
                                        <service :name = "item.name" :price="item.price" :active = "false" :index="index" :key = "item.name" ></service> 
                                </div>
                                
                        </div>


                </div>
                <div v-if="currentTab == 2" class ="tab-content"> 
                                
                                <div v-if="showForm" class="col-lg-8">
                                                
                                                <marketDetails @cancel = "showForm = false"></marketDetails>
                                </div>
                                
                                <div v-else>
                                        <projectDescription ></projectDescription>
                                        <h6 class="col-lg-12 text-left">Audience & Market Details</h6>
                                        <p class="col-lg-6 text-left  mb-16">
                                           This information is needed for branding & marketing purposes. You can skip it if you are on smaller design projects.
                                        </p><br>
            
            
                                        <a class="col-lg-12 text-left" @click="showForm = true">START FILLING IT</a>
                                        <div style="height: 256px;"></div>
                                </div>
                        
                                

                      
                </div>
                <div class="controller mt-32" :style="{'width': docW - 96 + 'px'}">  
                                <p class="float-left">*Terms & Condition Apply</p>                     
                                <button v-if="currentTab === 2 && !showForm " @click = "" class="float-right" >Initialize <i class="i-arrow-right2"></i></button>        
                                <button v-else-if = "currentTab === 1"  @click = "nextTab" class="float-right" >Project Description <i class="i-arrow-right2"></i></button>
                                
                        </div>               
        </div>      
    </div>
   
</div>

    


