

<div class="projectform" >
    <div class="heading row justify-content-md-center center">
            
        <div class="inside-row align-self-center">
            <div class="row main-title center">
             
             <div class="heading-text center">
                 <div class="center-align center"> <h2>Starting a new business</h2></div>
                    
             </div>
         </div>
        </div>
    
 </div>
    <div class="options row">
        <div class="col-lg-10 offset-lg-1 ">
          <ul class="nav nav-pills mb-3 tabs"  id="pills-tab" role="tablist">
            
            
            <li class="nav-item tab text-center">
                <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Select & Add</a>
              </li>
              <li class="nav-item tab text-center">
                <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Project Details</a>
              </li>
              <li class="nav-item tab text-center">
                <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Audience & Marketing</a>
              </li>
            
            </ul>
          </div>
        </div>    
      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="home-tab">
            <div class="row item-container mt-16">
                <div class="col-lg-10 offset-lg-1 center">
                <div class="row">
                        <div class = "item-classify">
                                <h6>Business Basics</h6>
                        </div>
                        <div class="item-margin col-lg-3">
                        <div class="item active-item">                    
                                <img src="./static/assets/images/Group 36.svg" alt="">
                                <h4 class="mt-16">Logo</h4>
                                <p class="body1 mt-16">Starting at Rs. 399/-</p>                        
                        </div>
                        </div>
                        <div class="item-margin col-lg-3">
                        <div class="item non-active ">        
                                <!-- Paste Icon Here -->
                                <img src="./static/assets/images/Group 36.svg" alt="">
                                <!-- Title and Description -->
                                <h4 class="mt-16">Visiting Card</h4>
                                <p class="body1 mt-16">Starting at Rs. 199/-</p>            
                        </div></div>
                        <div class="item-margin col-lg-3">
                        <div class="item non-active ">        
                                <!-- Paste Icon Here -->
                                <img src="./static/assets/images/Group 36.svg" alt="">
                                <!-- Title and Description -->
                                <h4 class="mt-16">Visiting Card</h4>
                                <p class="body1 mt-16">Starting at Rs. 199/-</p>            
                        </div></div>
                        <div class="item-margin col-lg-3">
                        <div class="item non-active ">        
                                <!-- Paste Icon Here -->
                                <img src="./static/assets/images/Group 36.svg" alt="">
                                <!-- Title and Description -->
                                <h4 class="mt-16">Visiting Card</h4>
                                <p class="body1 mt-16">Starting at Rs. 199/-</p>            
                        </div></div>
                        <div class="item-margin col-lg-3">
                                <div class="item non-active ">        
                                <!-- Paste Icon Here -->
                                <img src="./static/assets/images/Group 36.svg" alt="">
                                <!-- Title and Description -->
                                <h4 class="mt-16">Visiting Card</h4>
                                <p class="body1 mt-16">Starting at Rs. 199/-</p>            
                        </div></div>
                       
                       
                        
                       
            </div>
            <div class="button-controls text-center mt-64">
                <div><button class="btn-solid" onclick="nextTab()" > Next </button></div> 
              
                
          </div>
        </div>
        </div>
        </div>

        <!-- --------------------------------------------------------
        Project Details -->


        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
            <div class="row">
                <div class="pro-form col-lg-6 offset-lg-3">
                
                  
                    <form>
                        
                    <div class="row">
            
                            <!-- Single Line Box -->
                            <div class="text-box col-lg-8 mt-32 ">  
                                <div class="require true" ><img src="./static/assets/images/MaskGroup52.svg"></div>                  
                                <input type="text" id="projectName" aria-describedby="emailHelp" placeholder="Name">
                            </div>
                            
                            
                            
                            <!-- Dropdowns -->
                            <div class="text-box col-lg-4 mt-32 ">
                              
                            <input type="text" placeholder="Type" list="projecttypes"/>
                                    <datalist style="background-color: white; color:black;" id="projecttypes">
                                        <option>Corporate</option>
                                        <option>Start-Up</option>
                                        <option>Event</option>
                                    </datalist> 
                                    
                            </div>
            
                            <!-- Multiline Box -->
                            <div class="text-box col-lg-12 mt-32 ">
                                <div class="require true" ><img src="./static/assets/images/MaskGroup52.svg"></div>
                                
                                <textarea type="text" rows="2" cols="100" id="projectDesc" aria-describedby="emailHelp" placeholder="Description"></textarea>
                            </div>
            
                            <!-- Dropdowns -->
                            <div class="text-box col-lg-5 mt-32 ">
                                <div class="require true" ><img src="./static/assets/images/MaskGroup52.svg"></div>                  
                                <input type="text" placeholder="Year of Foundation" list="years"/>
                                        <datalist style="background-color: white; color:black;" id="years">
                                            <option>1990</option>
                                            <option>1991</option>
                                            <option>1992</option>
                                        </datalist>                             
                                </div>
            
                            <!-- Multiline Box -->
                            <div class="text-box col-lg-7 mt-32 ">
                                <div class="require true" ><img src="./static/assets/images/MaskGroup52.svg"></div>                    
                                <textarea type="text" rows="2" cols="100" id="projectDesc" aria-describedby="emailHelp" placeholder="share your business story?"></textarea>
            
                            </div>
            
                            <!-- Multiline Box -->
                            <div class="text-box col-lg-12 mt-32 ">
                                <div class="require true" ><img src="./static/assets/images/MaskGroup52.svg"></div>                    
                                <textarea type="text" rows="2" cols="100" id="projectDesc" aria-describedby="emailHelp" placeholder="What values you provide through your business?"></textarea>
                                <div class="action-link center"><a class="body2"> LEARN MORE</a></div>
                            </div>
            
                            <h6 class="col-lg-12 mt-64 text-left">Important Links</h6>
            
                            <div></div>
            
            
            
                            
            
                    </div>
            
                       
                      </div>  
                        
                       
                    </div>
                    <div class="button-controls text-center mt-64">
                        <div><button class="btn-outline" onclick="previousTab()" > Back </button></div> 
                          <div><button class="btn-solid" onclick="nextTab()" > Next </button></div> 
                         
                          
                    </div>
            
                  </form>
        </div>


        <!-- --------------------------------------------------------
        Audience and Marketing -->


        <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">


            <div class="button-controls text-center mt-64">
                <div><button class="btn-solid" onclick="nextTab()" > Initialize  </button></div> 
              
                
          </div>

        </div>
      </div>
    
</div>
</div>
</div>


