

<div class="projectform" >
    <div class="heading row justify-content-md-center center">
            
        <div class="inside-row align-self-center">
            <div class="row main-title center">
             
             <div class="heading-text center">
                 <div class="center-align center"> <h2>Starting a new business</h2></div>
                    
             </div>
         </div>
        </div>
    
        </div>
    <div class="options row">
        <div class="col-lg-10 offset-lg-1 ">
          <ul class="nav nav-pills mb-3 tabs"  id="pills-tab" role="tablist">
            
            
            <li class="nav-item tab text-center">
                <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Select & Add</a>
              </li>
              <li class="nav-item tab text-center">
                <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Project Details</a>
              </li>
              <li class="nav-item tab text-center">
                <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Audience & Marketing</a>
              </li>
            
            </ul>
          </div>
        </div>    

        <form>  
      <div class="tab-content" id="pills-tabContent">


        <!-- --------------------------------------------------------
        Select and Add -->


        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="home-tab">
            <div class="row item-container mt-16">
                <div class="col-lg-10 offset-lg-1 center">
                <div class="row">
                        <div class = "item-classify" style="margin-top: 0px;">
                                <h6>Business Basics</h6>
                        </div>
                        <div class="item-margin col-lg-3">
                        <div id="logo" class="item active-item">                    
                                <img src="./static/assets/images/logo-icon.svg" alt="">
                                <h4 class="mt-16">Logo</h4>
                                <p class="body1 mt-16">Starting at Rs. 399/-</p>                        
                        </div>
                        </div>
                        <div class="item-margin col-lg-3">
                        <div id="vcard" class="item non-active ">        
                                <!-- Paste Icon Here -->
                                <img src="./static/assets/images/logo-icon.svg" alt="">
                                <!-- Title and Description -->
                                <h4 class="mt-16">Visiting Card</h4>
                                <p class="body1 mt-16">Starting at Rs. 199/-</p>            
                        </div></div>
                        <div class="item-margin col-lg-3">
                        <div id = "idcard" class="item non-active ">        
                                <!-- Paste Icon Here -->
                                <img src="./static/assets/images/logo-icon.svg" alt="">
                                <!-- Title and Description -->
                                <h4 class="mt-16">ID Cards</h4>
                                <p class="body1 mt-16">Starting at Rs. 199/-</p>            
                        </div></div>
                        <div class="item-margin col-lg-3">
                        <div id="assets" class="item non-active ">        
                                <!-- Paste Icon Here -->
                                <img src="./static/assets/images/logo-icon.svg" alt="">
                                <!-- Title and Description -->
                                <h4 class="mt-16">Assets</h4>
                                <p class="body1 mt-16">Starting at Rs. 199/-</p>            
                        </div></div>
                        <div class="item-margin col-lg-3">
                                <div id="stationary" class="item non-active ">        
                                <!-- Paste Icon Here -->
                                <img src="./static/assets/images/logo-icon.svg" alt="">
                                <!-- Title and Description -->
                                <h4 class="mt-16">Stationary</h4>
                                <p class="body1 mt-16">Starting at Rs. 199/-</p>            
                        </div></div>
                        
                        <div class="item-margin col-lg-3">
                            <div id="plables" class="item non-active ">        
                                    <!-- Paste Icon Here -->
                                    <img src="./static/assets/images/logo-icon.svg" alt="">
                                    <!-- Title and Description -->
                                    <h4 class="mt-16">Product Labels</h4>
                                    <p class="body1 mt-16">Starting at Rs. 199/-</p>            
                            </div></div>
                            <div class="item-margin col-lg-3">
                            <div id = "newsletter" class="item non-active ">        
                                    <!-- Paste Icon Here -->
                                    <img src="./static/assets/images/logo-icon.svg" alt="">
                                    <!-- Title and Description -->
                                    <h4 class="mt-16">Newsletter Templates</h4>
                                    <p class="body1 mt-16">Starting at Rs. 199/-</p>            
                            </div></div>
                            <div class="item-margin col-lg-3">
                            <div id="letterheads" class="item non-active ">        
                                    <!-- Paste Icon Here -->
                                    <img src="./static/assets/images/logo-icon.svg" alt="">
                                    <!-- Title and Description -->
                                    <h4 class="mt-16">Letterheads</h4>
                                    <p class="body1 mt-16">Starting at Rs. 199/-</p>            
                            </div></div>
                            <div class="item-margin col-lg-3">
                            <div id="app" class="item non-active ">        
                                    <!-- Paste Icon Here -->
                                    <img src="./static/assets/images/logo-icon.svg" alt="">
                                    <!-- Title and Description -->
                                    <h4 class="mt-16">Mobile App</h4>
                                    <p class="body1 mt-16">Starting at Rs. 199/-</p>            
                            </div></div>

                            <div class="item-margin col-lg-3">
                                <div id="uidesign" class="item non-active ">        
                                        <!-- Paste Icon Here -->
                                        <img src="./static/assets/images/logo-icon.svg" alt="">
                                        <!-- Title and Description -->
                                        <h4 class="mt-16">UI/UX Designing</h4>
                                        <p class="body1 mt-16">Starting at Rs. 199/-</p>            
                              </div></div>
                            
                              
                              <div class = "item-classify">
                                  <h6>Take your business online</h6>
                          </div>

                            <div class="item-margin col-lg-3">
                            <div id = "website-portfolio" class="item non-active ">        
                                    <!-- Paste Icon Here -->
                                    <img src="./static/assets/images/logo-icon.svg" alt="">
                                    <!-- Title and Description -->
                                    <h4 class="mt-16">Portfolio</h4>
                                    <p class="body1 mt-16">Starting at Rs. 199/-</p>            
                            </div></div>

                            <div class="item-margin col-lg-3">
                            <div id = "website-business" class="item non-active ">        
                                    <!-- Paste Icon Here -->
                                    <img src="./static/assets/images/logo-icon.svg" alt="">
                                    <!-- Title and Description -->
                                    <h4 class="mt-16">Business Website</h4>
                                    <p class="body1 mt-16">Starting at Rs. 199/-</p>            
                            </div></div>
                            <div class="item-margin col-lg-3">
                            <div id = "web-app" class="item non-active ">        
                                    <!-- Paste Icon Here -->
                                    <img src="./static/assets/images/logo-icon.svg" alt="">
                                    <!-- Title and Description -->
                                    <h4 class="mt-16">Web Applications</h4>
                                    <p class="body1 mt-16">Starting at Rs. 199/-</p>            
                            </div></div>

                            <div class="item-margin col-lg-3">
                            <div id = "website-shopping" class="item non-active ">        
                                    <!-- Paste Icon Here -->
                                    <img src="./static/assets/images/logo-icon.svg" alt="">
                                    <!-- Title and Description -->
                                    <h4 class="mt-16">E-Commerce Website</h4>
                                    <p class="body1 mt-16">Starting at Rs. 199/-</p>            
                            </div></div>     

                            <div class="item-margin col-lg-3">
                                <div id = "website-dashboard" class="item non-active ">        
                                        <!-- Paste Icon Here -->
                                        <img src="./static/assets/images/logo-icon.svg" alt="">
                                        <!-- Title and Description -->
                                        <h4 class="mt-16">Dashboard</h4>
                                        <p class="body1 mt-16">Starting at Rs. 199/-</p>            
                                </div></div>



                                <div class = "item-classify">
                                    <h6>Advertise to spread your story </h6>
                            </div>

                           
                            <div class="item-margin col-lg-3">
                                    <div id="posters" class="item non-active ">        
                                    <!-- Paste Icon Here -->
                                    <img src="./static/assets/images/logo-icon.svg" alt="">
                                    <!-- Title and Description -->
                                    <h4 class="mt-16">Posters</h4>
                                    <p class="body1 mt-16">Starting at Rs. 199/-</p>            
                            </div></div>
                            <div class="item-margin col-lg-3">
                            <div id="flexes" class="item non-active ">        
                                    <!-- Paste Icon Here -->
                                    <img src="./static/assets/images/logo-icon.svg" alt="">
                                    <!-- Title and Description -->
                                    <h4 class="mt-16">Flexes</h4>
                                    <p class="body1 mt-16">Starting at Rs. 199/-</p>            
                            </div></div>
                            <div class="item-margin col-lg-3">
                            <div id = "banners" class="item non-active ">        
                                    <!-- Paste Icon Here -->
                                    <img src="./static/assets/images/logo-icon.svg" alt="">
                                    <!-- Title and Description -->
                                    <h4 class="mt-16">Banners</h4>
                                    <p class="body1 mt-16">Starting at Rs. 199/-</p>            
                            </div></div>
                            <div class="item-margin col-lg-3">
                            <div id="standee" class="item non-active ">        
                                    <!-- Paste Icon Here -->
                                    <img src="./static/assets/images/logo-icon.svg" alt="">
                                    <!-- Title and Description -->
                                    <h4 class="mt-16">Standees</h4>
                                    <p class="body1 mt-16">Starting at Rs. 199/-</p>            
                            </div></div>
                            <div class="item-margin col-lg-3">
                            <div id = "backdrop" class="item non-active ">        
                                <!-- Paste Icon Here -->
                                <img src="./static/assets/images/logo-icon.svg" alt="">
                                <!-- Title and Description -->
                                <h4 class="mt-16">Backdrops</h4>
                                <p class="body1 mt-16">Starting at Rs. 199/-</p>            
                        </div></div>
                            <div class="item-margin col-lg-3">
                            <div id="billboard" class="item non-active ">        
                                    <!-- Paste Icon Here -->
                                    <img src="./static/assets/images/logo-icon.svg" alt="">
                                    <!-- Title and Description -->
                                    <h4 class="mt-16">Billboards & Hoardings</h4>
                                    <p class="body1 mt-16">Starting at Rs. 199/-</p>            
                            </div></div>
                            <div class="item-margin col-lg-3">
                            
                            <div id="assets-adv" class="item non-active ">        
                                    <!-- Paste Icon Here -->
                                    <img src="./static/assets/images/logo-icon.svg" alt="">
                                    <!-- Title and Description -->
                                    <h4 class="mt-16">Assets for Advertising</h4>
                                    <p class="body1 mt-16">Starting at Rs. 199/-</p>            
                            </div></div>                            
                            <div class="item-margin col-lg-3">
                                    <div id="flyers" class="item non-active ">        
                                    <!-- Paste Icon Here -->
                                    <img src="./static/assets/images/logo-icon.svg" alt="">
                                    <!-- Title and Description -->
                                    <h4 class="mt-16">Flyers</h4>
                                    <p class="body1 mt-16">Starting at Rs. 199/-</p>            
                            </div></div>
                           
                            <div class="item-margin col-lg-3">
                            <div id="movieposter" class="item non-active ">        
                                    <!-- Paste Icon Here -->
                                    <img src="./static/assets/images/logo-icon.svg" alt="">
                                    <!-- Title and Description -->
                                    <h4 class="mt-16">Movie Posters</h4>
                                    <p class="body1 mt-16">Starting at Rs. 199/-</p>            
                            </div></div>
                            <div class="item-margin col-lg-3">
                                    <div id="pamphlets" class="item non-active ">        
                                    <!-- Paste Icon Here -->
                                    <img src="./static/assets/images/logo-icon.svg" alt="">
                                    <!-- Title and Description -->
                                    <h4 class="mt-16">Pamphlets</h4>
                                    <p class="body1 mt-16">Starting at Rs. 199/-</p>            
                            </div></div>
                            <div class="item-margin col-lg-3">
                            <div id="brochure" class="item non-active ">        
                                    <!-- Paste Icon Here -->
                                    <img src="./static/assets/images/logo-icon.svg" alt="">
                                    <!-- Title and Description -->
                                    <h4 class="mt-16">Brochure</h4>
                                    <p class="body1 mt-16">Starting at Rs. 199/-</p>            
                            </div></div>
                            <div class="item-margin col-lg-3">
                                <div id="coupens" class="item non-active ">        
                                <!-- Paste Icon Here -->
                                <img src="./static/assets/images/logo-icon.svg" alt="">
                                <!-- Title and Description -->
                                <h4 class="mt-16">Coupens</h4>
                                <p class="body1 mt-16">Starting at Rs. 199/-</p>            
                            </div></div>
                            <div class="item-margin col-lg-3">
                            <div id = "socialmedia" class="item non-active ">        
                                    <!-- Paste Icon Here -->
                                    <img src="./static/assets/images/logo-icon.svg" alt="">
                                    <!-- Title and Description -->
                                    <h4 class="mt-16">Social Media Promotions</h4>
                                    <p class="body1 mt-16">Starting at Rs. 199/-</p>            
                            </div></div>                        
                            <div class="item-margin col-lg-3">
                                <div id="sunboard" class="item non-active ">        
                                <!-- Paste Icon Here -->
                                <img src="./static/assets/images/logo-icon.svg" alt="">
                                <!-- Title and Description -->
                                <h4 class="mt-16">Sunboards</h4>
                                <p class="body1 mt-16">Starting at Rs. 199/-</p>            
                            </div></div>
                            <div class="item-margin col-lg-3">
                            <div id="certificates/awards" class="item non-active ">        
                                    <!-- Paste Icon Here -->
                                    <img src="./static/assets/images/logo-icon.svg" alt="">
                                    <!-- Title and Description -->
                                    <h4 class="mt-16">Certificates/ Awards</h4>
                                    <p class="body1 mt-16">Starting at Rs. 199/-</p>            
                            </div></div>

                            <div class = "item-classify">
                                <h6>Presentations</h6>
                             </div>
                           
                            <div class="item-margin col-lg-3">
                            <div id="moodboards" class="item non-active ">        
                                    <!-- Paste Icon Here -->
                                    <img src="./static/assets/images/logo-icon.svg" alt="">
                                    <!-- Title and Description -->
                                    <h4 class="mt-16">Moodboards/ Presentations</h4>
                                    <p class="body1 mt-16">Starting at Rs. 199/-</p>            
                            </div></div>
                           

                            <div class = "item-classify">
                                <h6>We care for Individuals too</h6>
                             </div>
                            
                            <div class="item-margin col-lg-3">
                                <div id="resumes" class="item non-active ">        
                                <!-- Paste Icon Here -->
                                <img src="./static/assets/images/logo-icon.svg" alt="">
                                <!-- Title and Description -->
                                <h4 class="mt-16">Resume</h4>
                                <p class="body1 mt-16">Starting at Rs. 199/-</p>            
                             </div></div>
                             <div class="item-margin col-lg-3">
                                <div id="pstuff" class="item non-active ">        
                                <!-- Paste Icon Here -->
                                <img src="./static/assets/images/logo-icon.svg" alt="">
                                <!-- Title and Description -->
                                <h4 class="mt-16">Personal Stuff</h4>
                                <p class="body1 mt-16">Starting at Rs. 199/-</p>            
                        </div></div>
                        <div class="item-margin col-lg-3">
                        <div id="stickers" class="item non-active ">        
                                <!-- Paste Icon Here -->
                                <img src="./static/assets/images/logo-icon.svg" alt="">
                                <!-- Title and Description -->
                                <h4 class="mt-16">Visiting Card</h4>
                                <p class="body1 mt-16">Starting at Rs. 199/-</p>            
                        </div></div>
                        <div class="item-margin col-lg-3">
                            <div id = "design" class="item non-active ">        
                                    <!-- Paste Icon Here -->
                                    <img src="./static/assets/images/logo-icon.svg" alt="">
                                    <!-- Title and Description -->
                                    <h4 class="mt-16">Any Other Design</h4>
                                    <p class="body1 mt-16">Starting at Rs. 199/-</p>            
                            </div></div>

                            
                       
                       
                        </div>
                       
            
            <div class="button-controls text-center mt-64">
                <div><button class="btn-solid" onclick="nextTab()" > Next </button></div> 
            </div>  
          </div>   
          </div>
        </div>
        
        

        <!-- --------------------------------------------------------
        Project Details -->


        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
            <div class="row">
                <div class="pro-form col-lg-6 offset-lg-3">
                
                  
                    
                        
                    <div class="row">
            
                            <!-- Single Line Box -->
                            <div class="text-box col-lg-8  ">  
                                <div class="require true" ><img src="./static/assets/images/required.svg"></div>                  
                                <input type="text" id="project-name" aria-describedby="emailHelp" placeholder="Name">
                            </div>
                            
                            
                            
                            <!-- Dropdowns -->
                            <div class="text-box col-lg-4  ">
                              
                            <input type="text" id="project-type" placeholder="Type" list="projecttypes"/>
                                    <datalist style="background-color: white; color:black;" id="projecttypes">
                                        <option>Corporate</option>
                                        <option>Start-Up</option>
                                        <option>Event</option>
                                    </datalist> 
                                    
                            </div>
            
                            <!-- Multiline Box -->
                            <div class="text-box col-lg-12 mt-32 ">
                                <div class="require true" ><img src="./static/assets/images/required.svg"></div>                  
                                
                                <textarea type="text" rows="2" cols="100" id="project-desc" aria-describedby="emailHelp" placeholder="Description"></textarea>
                            </div>
            
                            <!-- Dropdowns -->
                            <div class="text-box col-lg-5 mt-32 ">
                                <div class="require" ><img src="./static/assets/images/required.svg"></div>                  
                                <input type="text" id="founded-on" placeholder="Year of Foundation" list="years"/>
                                        <datalist style="background-color: white; color:black;" id="years">
                                            <option>1990</option>
                                            <option>1991</option>
                                            <option>1992</option>
                                        </datalist>                             
                                </div>
            
                            <!-- Multiline Box -->
                            <div class="text-box col-lg-7 mt-32 ">
                                <div class="require " ><img src="./static/assets/images/required.svg"></div>                  
                                <textarea type="text" rows="2" cols="100" id="story" aria-describedby="emailHelp" placeholder="share your business story?"></textarea>
            
                            </div>
            
                            <!-- Multiline Box -->
                            <div class="text-box col-lg-12 mt-32 ">
                                <div class="require " ><img src="./static/assets/images/required.svg"></div>                  
                                <textarea type="text" rows="2" cols="100" id="values" aria-describedby="emailHelp" placeholder="What values you provide through your business?"></textarea>
                                <div class="action-link center"><a class="body2"> LEARN MORE</a></div>
                            </div>
            
                            <h6 class="col-lg-12 mt-64 text-left">Important Links</h6>
            
                            <div class="dynamic-txt-list mt-32"></div>            
            
                            
            
                    </div>
            
                       
                      </div>  
                        
                       
                    </div>
                    <div class="button-controls text-center mt-64">
                        <div><button class="btn-outline" onclick="previousTab()" > Back </button></div> 
                          <div><button class="btn-solid" onclick="nextTab()" > Next </button></div> 
                         
                          
                    </div>
            
                  
        </div>


        <!-- --------------------------------------------------------
        Audience and Marketing -->


        <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">

            <div class="pro-form col-lg-6 offset-lg-3">
                
                  
                    
                        
                <div class="row">
        
                    <h6 class="col-lg-12  text-left">Target Audience</h6> 
                        
                        <!-- Dropdowns -->
                        <div class="text-box col-lg-12 mt-32 ">
                            <div class="require true" ><img src="./static/assets/images/required.svg"></div>                  
                        <input type="text" id="a-type" placeholder="Type" list="audiencetype"/>
                                <datalist style="background-color: white; color:black;" id="audiencetype">
                                    <option>Corporate</option>
                                    <option>Start-Up</option>
                                    <option>Youngsters</option>
                                </datalist> 
                                
                        </div>


                          <!-- Dropdown -->
                        <div class="text-box col-lg-6 mt-32 ">
                            <div class="require true" ><img src="./static/assets/images/required.svg"></div>                  
                        <input type="text" id="age" placeholder="Age Group" list="agelist"/>
                                <datalist style="background-color: white; color:black;" id="agelist">                                    
                                    <option>Kids (Below 7)</option>
                                    <option>Juniors (7 - 15)</option>
                                    <option>Teenagers (13 - 19)</option>
                                    <option>Adults (18 - 40)</option>
                                    <option>Elders (40 - 65)</option>
                                    <option>Senior Citizens (Above 65)</option>
                                </datalist> 
                                
                        </div>
                        
                          <!-- Dropdown -->
                          <div class="text-box col-lg-6 mt-32 ">
                              <div class="require true" ><img src="./static/assets/images/required.svg"></div>                  
                              <input type="text" id="gender" placeholder="Gender" list="audiencetype"/>
                                      <datalist style="background-color: white; color:black;" id="audiencetype">
                                          <option>Male</option>
                                          <option>Females</option>
                                          <option>Both Male and Female</option>
                                          <option>LGBT Community</option>
                                          <option>All</option>
                                      </datalist> 
                                      
                              </div>

                              <h6 class="col-lg-12 mt-64 text-left">Competitors</h6> 
                        
                                <div class="dynamic-txt-list mt-32"></div>


                                <h6 class="col-lg-12 mt-64 text-left">Business Details</h6> 
                        
                               <!-- Multiline Box -->
                            <div class="text-box col-lg-12 mt-32 ">
                                
                                <textarea type="text" rows="2" cols="100" id="strengths" aria-describedby="emailHelp" placeholder="Strengths"></textarea>
                                
                            </div> 

                                <!-- Multiline Box -->
                                <div class="text-box col-lg-12 mt-32 ">
                                   
                                    <textarea type="text" rows="2" cols="100" id="weakness" aria-describedby="emailHelp" placeholder="Weaknesses"></textarea>
                                    
                                </div> 


                                <h6 class="col-lg-12 mt-64 text-left">In Case we missed somethin'</h6> 

                                    <!-- Multiline Box -->
                            <div class="text-box col-lg-12 mt-32 ">
                               
                                <textarea type="text" rows="2" cols="100" id="otherinfo" aria-describedby="emailHelp" placeholder="Anything to mention?"></textarea>
                                
                            </div> 




                        

                </div>
                </div>


            <div class="button-controls mt-64">

                <div><button class="btn-solid" type="submit" > Initialize  </button></div> 
              
                
          </div>

        </div>
      

          </form>
      
      
        </div>
    


