<div class="homepage">
      <div class="home-main">
    <div class="cover-left">

           <div class="cover">
              <img src="./static/assets/images/cover-image.png" alt="">
            
            </div>
        <div class="logo-margin">    </div>
        <div class="logo">
        <img src="./static/assets/images/logo.svg">
      </div>

        <div class="row">
          <div class="col-lg-6">
            <div class="search-container">
              <div class="search-box">
     <div class="top-search ">
        <div class="left-search center"> 
          <img src="./static/assets/images/search.svg" alt="">
        </div>
        <div class="text-search"> 
          <input type="text" placeholder="Logo, app desgins etc.."> 
        </div>
     <div class="right-search center">
       <div class="forward-white center">
         <button>
        <img src="./static/assets/images/forward-white.svg" alt=""></button> </div> </div>
       
     <div class="bottom-search" >
   
     </div>
 
              </div>

            </div>

          </div>

        </div>
        </div>


      </div> 
      <div class="bottom-card row">
          <div class=" col-sm-12 col-md-6 col-lg-4 package"> 
              <router-link to="/chatBox">
                <button>
              <div class="card" >
                <div class="card-body">
                  <h3 class="card-title">Starting a new business</h3>
                   <div class="package-des">
                      <div class="package-des-text">
                
                         <p class="card-text">Some quick  texample text to the download the differentiated dfdbuild on the card title and make up the bulk of the card's content.</p></div>
                             <div class="package-go">
               
                                       <img src="./static/assets/images/forward.svg" alt="">
        
                  
            </div>   
            </div>
                </div>
              </div>
            </button>
            </router-link>
            </div>
            <div class=" col-sm-12 col-md-6 col-lg-4 package"> 
                <router-link to="/projectForm">
                  <button>
                <div class="card" >
                  <div class="card-body">
                    <h3 class="card-title">A new Brand Identity</h3>
                     <div class="package-des">
                        <div class="package-des-text">
                  
                           <p class="card-text">Some quick example text to dfdbuild on the card title and make up the bulk of the card's content.</p></div>
                               <div class="package-go">
                 
                                         <img src="./static/assets/images/forward.svg" alt="">
          
                    
              </div>   
              </div>
                  </div>
                </div>
              </button>
              </router-link>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-4 package"> 
                  <router-link to="/projectForm">
                    <button>
                  <div class="card" >
                    <div class="card-body">
                      <h3 class="card-title">Custom Project</h3>
                       <div class="package-des">
                          <div class="package-des-text">
                    
                             <p class="card-text">Some quick example text to dfdbuild on the card title and make up the bulk of the card's content.</p></div>
                                 <div class="package-go">
                   
                                           <img src="./static/assets/images/forward.svg" alt="">
            
                      
                </div>   
                </div>
                    </div>
                  </div>
                </button>
                </router-link>
                </div>
            
      </div>
     
</div>
</div>