<div class="signup-main side">
    <div class="social-bar">
            <i></i><i></i><i></i><i></i>
            <div class="vertical-line"></div>
            
      </div> 

        <div class="row">
            <div class="section"> 
                <div v-if="1">
                <div class="col-lg-12">
                <h2>Reset password</h2>
                </div>
                <div class="col-lg-12">
                <div class="mt-32"><p class="body1"> Enter the code sent to your mail {{this.state}}</p> </div>
              </div>
                <form class="mt-64">
                    <div class="row">
                    <div class="form-group col-lg-12">
                   
                      <input type="text" class="password-reset" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="------" maxlength="6">
                      
                    </div>
                    
                    
                    <div class="col-lg-12">
                    <p v-if="1" class="mt-16" class="error"> <i class="fa fa-error"></i>! This is error</p>
                  </div>
                   <div class="col-lg-12">
                    <button type="submit" class="mt-32">Reset Password</button>
                    <!-- <div class="fb-login-button" data-width="" data-size="large" data-button-type="continue_with" data-auto-logout-link="false" data-use-continue-as="false">
                           login with facebook
                    </div> -->
                  </div>
                </div>
                  </form>
                </div>
                <div >
                    hey bro
                </div>
                  <div class="absolute apply-as-fl">
                      <div class="row">
                        <div class="col-lg-12">
                          <P>Searching for work?</P>
                          <a class="mt-8">APPLY AS FREELANCER</a>
                    </div>
                  </div>
                </div>
            </div>
          </div>
            <div class="cover-section">
                    <cover></cover>
            </div>
        </div>
    

</div>
</div>