@import "../../assets/common.less";


.section{
    width: 100%;
    max-width: 600px;
    
    margin-top: 96px;
    padding: 64px;
}
.apply-as-fl{
    
    width: 536px;
    bottom: 64px;
}
.password-reset{
    letter-spacing: 12px;
    font-size: 24px !important;
}