<div class="signup-main side">
    <div class="sideBar">
        <socialBar ></socialBar>
    </div>
      

        <div class="row">
          
            <div class="section"> 
                <div v-if="this.$route.params.state === 'reset'">
                <div class="col-lg-12">
                <h2>Reset<br> password</h2>
                </div>
                <div class="col-lg-12">
                <div class="mt-32"><p class="body1"> Enter the code sent to your mail {{this.state}}</p> </div>
              </div>
                <form class="mt-64">
                    <div class="row">
                    <div class="form-group col-lg-12">
                   
                      <input type="text" class="password-reset" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="------" maxlength="6">
                      
                    </div>
                    
                    
                    <div class="col-lg-12">
                    <p v-if="1" class="mt-16" class="error"> <i class="fa fa-error"></i>! This is error</p>
                  </div>
                   <div class="col-lg-12">
                    <button type="submit" class="mt-32">Reset <i class="i-arrow-right2"></i></button>
                    
                  </div>
                </div>
                  </form>
                </div>
                <div v-else-if = "this.$route.params.state === 'change'" >
                    <h2 class="mb-64">Change Password</h2>
                    <div v-if="old" class="form-group col-lg-12">
                 
                        <input type="password"  id="exampleInputPassword1" placeholder="Old Password">
                      </div>
                      <div class="form-group  col-lg-12">                 
                          <input type="password"  id="exampleInputPassword1" placeholder="Enter new password">
                        </div>
                        <div class="form-group  col-lg-12">
                 
                            <input type="password"  id="exampleInputPassword1" placeholder="Re-enter new password">
                          </div>
                          <div class="col-lg-12">
                              <p v-if="1" class="mt-16" class="error"> <i class="fa fa-error"></i>! This is error</p>
                            </div>
                            <div class="col-lg-12">
                                <button type="submit" class="mt-32">Submit <i class="i-arrow-right2"></i></button>
                                
                              </div>
                          
                </div>
                  <div class="support mt-64">
                      <div class="row">
                        <div class="col-lg-12">
                          <p></p>
                          
                    </div>
                  </div>
                </div>

            </div>

              <div class="cover-section center col"  >
                  <cover></cover>
              </div>
            </div>
          </div>
         
    

</div>
</div>