@import "../../assets/common.less";
.chat-title{
    height: 96px;
    width: 100%;
    display: flex;
    padding: 16px;

}
.chat-pic{
    padding: 8px;
    
}
.chat-pic img{
    height: 48px;
    width:48px;
}

.title-text{
    padding: 8px;
}
.chat-body{
    padding: 32px;
    
}
.sender,.receiver{
    border:1px solid  transparent;
    border-radius: 8px 8px 0px 8px;
    background-color:   #4d4d4d;
    color: white;
    min-width: 48px;
    min-height: 48px;
  
    width: fit-content;
    margin:16px 0px 16px 0px;
    padding: 16px;
  
}
.receiver{
    float: left;
    background-color: #f26067  !important;
    
}
.sender{
 
  float:right;
  max-width: 70%;

}
.msg-container{
   
    display: flex;
    width: 100%;
    flex-direction: row;
}
.alignright{
    display: inline-block;
    
}
button{

}
.chat-input{
    display:flex;
    

}
.chat-textbox{
    width: 80%;
    display: flex;
    
}
.send-button{
width: 20%;
padding: 0px 12px 0px 12px;


}
.send-button button{
    height: 48px;
    width: 48px;
    background-color: @theme-color;
}
.attachbutton{
    padding: 12px;

}
.attachbutton button{
    height: 24px;
    width: 24px;
}

