<div class="designview">
<div class="row">
    <div class="col-lg-8"></div>
    <!-- chatbox section starts-->
<div class="col-lg-4 chat-col">
<div class="chat-title">
  
    <div class="chat-pic">
            <img src=""alt="">
    </div>
    <h6 class="title-text"></h6>
</div>
<div class="chat-body">
    <div class="msg-container" v-for="message in messages">
        <div :class="[message.author===authUser.displayName?'alignright':'normal']">
      <div :class="[message.author===authUser.displayName?'sender':'receiver']">
        <p class="body1">
    {{message.message}}
        </p>
    </div>
</div>
</div> 

</div>
<div class="chat-input ">
    <div class="chat-textbox border-bottom">
        <div class="chattext">
            <input @keyup.enter="saveMessage"  v-model="message" type="text" class="write_msg" placeholder="Type a message" />

        </div>
        <div class="attachbutton center">
            <button></button>
        </div>
        
    </div>
    <div class="send-button center">
        <button></button>
    </div>
</div>
</div>
  <!-- chatbox section ends-->
</div>
</div>
