<div class="row">

      

          <!-- Single Line Box -->
<div class="text-box col-lg-12 mb-32">                                
        <input type="text" id="project-name" aria-describedby="emailHelp" placeholder="Name">
       
    </div>
    
    
    
    <!-- Dropdowns -->
    <div class="text-box col-lg-4 mb-32 ">                              
    <input type="text" v-model = "projectType" placeholder="Type" list="projecttypes"/>
                                   
    </div>

     <!-- Dropdowns -->
     <div class="text-box col-lg-4 mb-32 ">                              
            <input type="text" v-model = "projectType" placeholder="Type" list="projecttypes"/>
                                           
            </div>

     <!-- Dropdowns -->
     <div class="text-box col-lg-4 mb-32 ">                              
            <input type="text" v-model = "projectType" placeholder="Type" list="projecttypes"/>
                                           
            </div>

              

      </div>
      


  