@import "../../assets/common.less";


.item-classify{
    width: 100%;
    margin: 8px 0px 8px 0px;
    padding: 4px 16px 4px 16px;
}
.active-item{
    border: 1px solid @theme-color ;
}



.active{
    border-bottom:1px solid @theme-color ;
}
.item{
    margin: 0px 16px 0px 16px;
}
.item img{
    width: 48px;
    height: 48px;
}
.item{
    padding: 32px;
  

}

.item p{
    opacity: 70%;
    


}
.non-active:hover{
    cursor: pointer;
    border: 1px solid black;
    transition: 0.8s;
}
.non-active{
    border: 1px solid transparent;
}
.active-item:hover{
    cursor: pointer;
}