<div class="selectandadd">
        <div class="heading row justify-content-md-center center">
                
               <div class="inside-row align-self-center">
                   <div class="row main-title center justify-content-md-center">
                    <div class="back-arrow center">
                            <img src="./static/assets/images/Group 36.svg" alt="">
                    </div>
                    <div class="heading-text center">
                        <div class="center-align center"> <h2>Starting a new business</h2></div>
                           
                    </div>
                </div>
               </div>
           
        </div>
        <div class="options row">
            <div class="col-lg-10 offset-lg-1 center">
                <div class="row">
            <div class="col-md-4 active  dd options center text-center">
              
                    <h4 class="">  Select and add</h4>
            </div>
            <div class="col-md-4 options center text-center">
   
                   
                    <h5> Project Description</h5>
                                </div>
                <div class="col-md-4 options center text-center">
  
                        <h5>Audience & Marketing</h5>
                                              
                    </div>
                </div>
            </div>
        </div>
        <div class="row item-container mt-16">
        <div class="col-lg-10 offset-lg-1 center">
        <div class="row">
                <div class = "item-classify">
                        <h6>Business Basics</h6>
                </div>
                <div class="col-md-2 col-lg-2 item active-item">                    
                        <img src="./static/assets/images/Group 36.svg" alt="">
                        <h4 class="mt-16">Logo</h4>
                        <p class="body1 mt-16">Starting at Rs. 399/-</p>                        
                </div>
                <div class="col-md-2 col-lg-2 item non-active ">        
                        <!-- Paste Icon Here -->
                        <img src="./static/assets/images/Group 36.svg" alt="">
                        <!-- Title and Description -->
                        <h4 class="mt-16">Visiting Card</h4>
                        <p class="body1 mt-16">Starting at Rs. 199/-</p>            
                </div>
                
                <div class="col-md-2 col-lg-2 item non-active ">        
                        <!-- Paste Icon Here -->
                        <img src="./static/assets/images/Group 36.svg" alt="">
                        <!-- Title and Description -->
                        <h4 class="mt-16">Visiting Card</h4>
                        <p class="body1 mt-16">Starting at Rs. 199/-</p>            
                </div>
                
                <div class="col-md-2 col-lg-2 item non-active ">        
                        <!-- Paste Icon Here -->
                        <img src="./static/assets/images/Group 36.svg" alt="">
                        <!-- Title and Description -->
                        <h4 class="mt-16">Visiting Card</h4>
                        <p class="body1 mt-16">Starting at Rs. 199/-</p>            
                </div>
                <div class="col-md-2 col-lg-2 item non-active ">        
                        <!-- Paste Icon Here -->
                        <img src="./static/assets/images/Group 36.svg" alt="">
                        <!-- Title and Description -->
                        <h4 class="mt-16">Visiting Card</h4>
                        <p class="body1 mt-16">Starting at Rs. 199/-</p>            
                </div>
                <div class="col-md-2 col-lg-2 item non-active ">        
                        <!-- Paste Icon Here -->
                        <img src="./static/assets/images/Group 36.svg" alt="">
                        <!-- Title and Description -->
                        <h4 class="mt-16">Visiting Card</h4>
                        <p class="body1 mt-16">Starting at Rs. 199/-</p>            
                </div>
                
                <div class="col-md-2 col-lg-2 item non-active ">        
                        <!-- Paste Icon Here -->
                        <img src="./static/assets/images/Group 36.svg" alt="">
                        <!-- Title and Description -->
                        <h4 class="mt-16">Visiting Card</h4>
                        <p class="body1 mt-16">Starting at Rs. 199/-</p>            
                </div>
                
                <div class="col-md-2 col-lg-2 item non-active ">        
                        <!-- Paste Icon Here -->
                        <img src="./static/assets/images/Group 36.svg" alt="">
                        <!-- Title and Description -->
                        <h4 class="mt-16">Visiting Card</h4>
                        <p class="body1 mt-16">Starting at Rs. 199/-</p>            
                </div>
                <div class="col-md-2 col-lg-2 item non-active ">        
                        <!-- Paste Icon Here -->
                        <img src="./static/assets/images/Group 36.svg" alt="">
                        <!-- Title and Description -->
                        <h4 class="mt-16">Visiting Card</h4>
                        <p class="body1 mt-16">Starting at Rs. 199/-</p>            
                </div>
                <div class="col-md-2 col-lg-2 item non-active ">        
                        <!-- Paste Icon Here -->
                        <img src="./static/assets/images/Group 36.svg" alt="">
                        <!-- Title and Description -->
                        <h4 class="mt-16">Visiting Card</h4>
                        <p class="body1 mt-16">Starting at Rs. 199/-</p>            
                </div>
                
                <div class="col-md-2 col-lg-2 item non-active ">        
                        <!-- Paste Icon Here -->
                        <img src="./static/assets/images/Group 36.svg" alt="">
                        <!-- Title and Description -->
                        <h4 class="mt-16">Visiting Card</h4>
                        <p class="body1 mt-16">Starting at Rs. 199/-</p>            
                </div>
                
                <div class="col-md-2 col-lg-2 item non-active ">        
                        <!-- Paste Icon Here -->
                        <img src="./static/assets/images/Group 36.svg" alt="">
                        <!-- Title and Description -->
                        <h4 class="mt-16">Visiting Card</h4>
                        <p class="body1 mt-16">Starting at Rs. 199/-</p>            
                </div>
                <div class="col-md-2 col-lg-2 item non-active ">        
                        <!-- Paste Icon Here -->
                        <img src="./static/assets/images/Group 36.svg" alt="">
                        <!-- Title and Description -->
                        <h4 class="mt-16">Visiting Card</h4>
                        <p class="body1 mt-16">Starting at Rs. 199/-</p>            
                </div>
                <div class="col-md-2 col-lg-2 item non-active ">        
                        <!-- Paste Icon Here -->
                        <img src="./static/assets/images/Group 36.svg" alt="">
                        <!-- Title and Description -->
                        <h4 class="mt-16">Visiting Card</h4>
                        <p class="body1 mt-16">Starting at Rs. 199/-</p>            
                </div>
                
                <div class="col-md-2 col-lg-2 item non-active ">        
                        <!-- Paste Icon Here -->
                        <img src="./static/assets/images/Group 36.svg" alt="">
                        <!-- Title and Description -->
                        <h4 class="mt-16">Visiting Card</h4>
                        <p class="body1 mt-16">Starting at Rs. 199/-</p>            
                </div>
                
                <div class="col-md-2 col-lg-2 item non-active ">        
                        <!-- Paste Icon Here -->
                        <img src="./static/assets/images/Group 36.svg" alt="">
                        <!-- Title and Description -->
                        <h4 class="mt-16">Visiting Card</h4>
                        <p class="body1 mt-16">Starting at Rs. 199/-</p>            
                </div>
                <div class="col-md-2 col-lg-2 item non-active ">        
                        <!-- Paste Icon Here -->
                        <img src="./static/assets/images/Group 36.svg" alt="">
                        <!-- Title and Description -->
                        <h4 class="mt-16">Visiting Card</h4>
                        <p class="body1 mt-16">Starting at Rs. 199/-</p>            
                </div>
                <div class="col-md-2 col-lg-2 item non-active ">        
                        <!-- Paste Icon Here -->
                        <img src="./static/assets/images/Group 36.svg" alt="">
                        <!-- Title and Description -->
                        <h4 class="mt-16">Visiting Card</h4>
                        <p class="body1 mt-16">Starting at Rs. 199/-</p>            
                </div>
                
                <div class="col-md-2 col-lg-2 item non-active ">        
                        <!-- Paste Icon Here -->
                        <img src="./static/assets/images/Group 36.svg" alt="">
                        <!-- Title and Description -->
                        <h4 class="mt-16">Visiting Card</h4>
                        <p class="body1 mt-16">Starting at Rs. 199/-</p>            
                </div>
                
                <div class="col-md-2 col-lg-2 item non-active ">        
                        <!-- Paste Icon Here -->
                        <img src="./static/assets/images/Group 36.svg" alt="">
                        <!-- Title and Description -->
                        <h4 class="mt-16">Visiting Card</h4>
                        <p class="body1 mt-16">Starting at Rs. 199/-</p>            
                </div>
                <div class="col-md-2 col-lg-2 item non-active ">        
                        <!-- Paste Icon Here -->
                        <img src="./static/assets/images/Group 36.svg" alt="">
                        <!-- Title and Description -->
                        <h4 class="mt-16">Visiting Card</h4>
                        <p class="body1 mt-16">Starting at Rs. 199/-</p>            
                </div>
                <div class="col-md-2 col-lg-2 item non-active ">        
                        <!-- Paste Icon Here -->
                        <img src="./static/assets/images/Group 36.svg" alt="">
                        <!-- Title and Description -->
                        <h4 class="mt-16">Visiting Card</h4>
                        <p class="body1 mt-16">Starting at Rs. 199/-</p>            
                </div>
                
                <div class="col-md-2 col-lg-2 item non-active ">        
                        <!-- Paste Icon Here -->
                        <img src="./static/assets/images/Group 36.svg" alt="">
                        <!-- Title and Description -->
                        <h4 class="mt-16">Visiting Card</h4>
                        <p class="body1 mt-16">Starting at Rs. 199/-</p>            
                </div>
                
                <div class="col-md-2 col-lg-2 item non-active ">        
                        <!-- Paste Icon Here -->
                        <img src="./static/assets/images/Group 36.svg" alt="">
                        <!-- Title and Description -->
                        <h4 class="mt-16">Visiting Card</h4>
                        <p class="body1 mt-16">Starting at Rs. 199/-</p>            
                </div>
                <div class="col-md-2 col-lg-2 item non-active ">        
                        <!-- Paste Icon Here -->
                        <img src="./static/assets/images/Group 36.svg" alt="">
                        <!-- Title and Description -->
                        <h4 class="mt-16">Visiting Card</h4>
                        <p class="body1 mt-16">Starting at Rs. 199/-</p>            
                </div>
                <div class="col-md-2 col-lg-2 item non-active ">        
                        <!-- Paste Icon Here -->
                        <img src="./static/assets/images/Group 36.svg" alt="">
                        <!-- Title and Description -->
                        <h4 class="mt-16">Visiting Card</h4>
                        <p class="body1 mt-16">Starting at Rs. 199/-</p>            
                </div>
                
                <div class="col-md-2 col-lg-2 item non-active ">        
                        <!-- Paste Icon Here -->
                        <img src="./static/assets/images/Group 36.svg" alt="">
                        <!-- Title and Description -->
                        <h4 class="mt-16">Visiting Card</h4>
                        <p class="body1 mt-16">Starting at Rs. 199/-</p>            
                </div>
                
                <div class="col-md-2 col-lg-2 item non-active ">        
                        <!-- Paste Icon Here -->
                        <img src="./static/assets/images/Group 36.svg" alt="">
                        <!-- Title and Description -->
                        <h4 class="mt-16">Visiting Card</h4>
                        <p class="body1 mt-16">Starting at Rs. 199/-</p>            
                </div>
                <div class="col-md-2 col-lg-2 item non-active ">        
                        <!-- Paste Icon Here -->
                        <img src="./static/assets/images/Group 36.svg" alt="">
                        <!-- Title and Description -->
                        <h4 class="mt-16">Visiting Card</h4>
                        <p class="body1 mt-16">Starting at Rs. 199/-</p>            
                </div>
                
                <div class="col-md-2 col-lg-2 item non-active ">        
                        <!-- Paste Icon Here -->
                        <img src="./static/assets/images/Group 36.svg" alt="">
                        <!-- Title and Description -->
                        <h4 class="mt-16">Visiting Card</h4>
                        <p class="body1 mt-16">Starting at Rs. 199/-</p>            
                </div>
                <div class="col-md-2 col-lg-2 item non-active ">        
                        <!-- Paste Icon Here -->
                        <img src="./static/assets/images/Group 36.svg" alt="">
                        <!-- Title and Description -->
                        <h4 class="mt-16">Visiting Card</h4>
                        <p class="body1 mt-16">Starting at Rs. 199/-</p>            
                </div>
               
                
               
    </div>
    <div class="next-button text-center">
           <div><button > Next <i></button></div> 
    </div>
</div>
</div>
</div>