<div class="main-header">

  <div class="bodycolour border-bottom border-dark">
    <nav class="navbar navbar-expand-md navbar-light " style="background-color:transparent">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="logo color" height="32px" width="32px" alt="">

        </a>
        <button class="navbar-toggler" type="button" data-togg="collapse" data-target="#navbarResponsive">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <img class="nav-link" src="../../../static/assets/images/MaskGroup15.svg" height="32px" width="32px" alt="">
            </li>
            <li class="nav-item">
              <img class="nav-link" src="../../../static/assets/images/MaskGroup16.svg" height="32px" width="32px" alt="">
            </li>

            <li class="nav-item">
              <a class="nav-link Montserrat" href="#" style="line-height:1">John Doe</a>
            </li>
            <li class="nav-item">
              <img class="nav-link" src="../../assets/dropdownarrow.svg" height="32px" width="32px" alt="">
            </li>


          </ul>
        </div>
      </div>
    </nav>


    <div class="container ">
      <div class="row">
        <div class="col-lg-6 col-xs-12">
            <div class="textpro ">
                <h2>Project & Description</h2></div>
              <div style="margin-top:80px;"></div>
            </div>
        </div>
      </div>
      
  </div>
</div>
