@import "../../assets/common.less";
@import "../../assets/fonts.less";
@import "../../../static/assets/icons/style.less";


.header-top{
  height: 96px;
  width: 100%;
  font-family: Bold;
}

 
 .profile-pic{
  width: 96px;
  height: 96px;
  right: 0;
  position: fixed;
  padding: 24px;
 }
 .profile-pic img{
   border-radius: 100%;
   border: 2px @theme-color solid;
 }
 
 .navtop{
   height: 100%;
 
  padding-left: 112px;
  display: flex;
  flex-direction: row;
 
 }


 .links{
  transition: .5s;
  padding:16px;  
  height: 100%;
 
 }
 .links{
  cursor: pointer;
 }
 .links:hover p{
   
    color: @theme-color;
 }
 

