<div class="main-header">
  <div class="header-top">
     <div class="profile-pic">
        <img src="/static/assets/images/pro-pic.jpg" height = "48" width="48" alt="">
     </div>
     <div class="navtop">
        <div class="links center">
           <p class="bold" :class = "{'active': active === 'home'}">HOME</p>
        </div>
        <div class="links center">
           <p class="bold" :class = "{'active': active === 'process'}">OUR PROCESS</p>
        </div>
        <div class="links center">
           <p class="bold" :class = "{'active': active === 'portfolio'}">PORTFOLIO</p>
        </div>
        <div class="links center">
           <p class="bold" :class = "{'active': active === 'blog'}">BLOG</p>
        </div>
        <div class="links center">
           <p class="bold" :class = "{'active': active === 'help'}">HELP</p>
        </div>
     </div>
     
  </div>
  <div class="side-pane"> </div>
  
</div>