<div class="main-header">
    <div class="header-top">
       <div class="profile-pic"></div>
       <div class="navtop">
          <div class="links">
             <p class="">CREATE PROJECT</p>
          </div>
          <div class="links">
             <p class="">THE PROCESS</p>
          </div>
          <div class="links">
             <p class="">PORTFOLIO</p>
          </div>
          <div class="links">
             <p class="">BLOG</p>
          </div>
          <div class="links">
             <p class="">HELP</p>
          </div>
       </div>
    </div>
    <div class="side-pane"> </div>
    <div class="right-pane"></div>
 </div>