@import "../../assets/common.less";
@import "../header/header.less";

.pie{
    background-color: yellow;
}
.progress
{
    height: 8px;
    border-radius: 0px !important;
    border: none!important;
}
.item{
    display: flex;
    flex-direction:row;
    height: 104px;
    padding: 0px !important;
}
.item-details{
    width: 100%;
    padding: 24px !important;
}
.item-details p{
    margin-top: 8px;
}
.progress{
    margin-top: 8px;
   

}
.item-icon{
    width: 104px;
    height: 104px;
    padding: 27px !important;
}
.item-actions{
    width: 128px;
    height: 104px;
    display: flex;
    
}


