@theme-color: #E4192D;
h2{
	color: black !important;
	font-family: Bold;
	font-size: 64px !important;
}
h3{
	color: black !important;
	font-family: SemiBold;
	font-size: 48px !important;
}
p{
	color: black !important;
	font-family: Regular;
	font-size:14px !important;
}
h5{
	color: black !important;
	font-family: Bold;
	font-size: 24px !important;
}
h4{
	color: black !important;
	font-family: Regular;
	font-size: 36px !important;
}
h6{
	color: black !important;
	font-family: SemiBold;
	font-size: 20px !important;
}

.body1{
	font-size: 16px;
	font-family: Regular;
}
.body2{
	font-size: 14px;
	font-family: Regular;
}

button{
border-radius: 0% !important;
}
.action-link{
	position: absolute;
	bottom: 24px;
	right: 48px;
	font-weight: 600;
	color: @theme-color;

}
.action-link:hover{
	cursor: pointer;
}


.active-line{
    border: 2px solid @theme-color;
    width: 48px;
    height: 4px;
    
}
.processed-line{
	border: 2px solid #FF9780;
    width: 48px;
    height: 4px;
}
.inactive-line{
    border: 2px solid #B3B3B3;
    width: 48px;
    height: 1px;    
}

  
.main {
    background-color: #EDEDED;
    padding-top: 64px;
  }

.pro-form{
	width: 100%;
	justify-content: center;
	padding:32px;
	text-align: center;
}

.text-box{
	
	height: 64px;
	width: 100%;
	display: flex;
	
}

input, textarea{
	height: 64px !important;
	
	border: none !important;
	border-radius: 0px !important;
	outline: none !important;
	font-size: 16px !important;
	font-family: Regular !important;
	font-weight: 0 !important;
	transition: 0.6s;
	border-bottom: 1px solid black !important;
}
input:focus, textarea:focus{
	border-bottom-color:@theme-color !important;
	
}



textarea{
	height: 64px;
	overflow-y: scroll;
	resize: none;
	padding: 16px;
	font-size: 18px !important;
	font-weight: 600;
	
	
}


::-webkit-scrollbar {
	width: 0px; 
	background: transparent; 
	}



.require{
	width: 64px;
	padding: 20px;
	height: 64px;
	opacity: 0;
}

.true{
	opacity: 1;
}
.comboBox{
	height: 64px;
	
	border-radius: 0px !important;
	outline: none;
	padding: 0px 16px;
	border: none !important;
	font-size: 16px !important;
	font-family: Regular !important;
	font-weight: 0 !important;
	border-bottom: 1px solid black !important;
}

option{
	color: black;
}


	
.input-icon{

		position: absolute;
		top: 24px;
		float: right;
		right:32px;
	}

.center{
display: flex !important;
flex-direction: column !important ;
vertical-align: middle !important;
justify-content: center !important;
}

.button-controls{
	padding: 16px;
	display: flex;
	justify-content: center;
}
.btn-solid{
	width: auto;
	border: none;
	padding:16px 32px;
	background: @theme-color;
	font-family: SemiBold;
	font-size: 18px;
	color: white;
	margin: 0px 16px;
}
.btn-outline{
	width: auto;
	border: 1px solid @theme-color;
	padding:16px 32px;
	background-color: transparent;
	font-family: SemiBold;
	font-size: 18px;
	color: @theme-color;
	margin: 0px 16px;
}
.mt-32{
	margin-top: 32px;
}
.mt-64{
	margin-top: 64px;
}

.action{

	padding: 24px;
	
}
.action img{
	width: 24px;
	height: 24px;
}
