@theme-color: #F37321;
button{
border-radius: 0% !important;
}

.projectForm{
	margin: 32px 0px 32px 0px
}
.projectDetails{
	padding: 32px 0px 32px 0px;
}
input{
	border: none !important;
	border-radius: 0px !important;
	outline: none;
}
.bodycolour{
	background-color: #EDEDED;
}
.form-group{
	padding: 16px 0px 16px 0px !important; 
}
input:focus{
	outline: none !important; }
	.target{
		margin: 32px 0px 32px 0px;
		background-color: #FF532D;
		border: none;
		border-radius: 0px;
		width: 207px;
		height: 48px;

margin-left: 181px;
	}
	.target:hover{
		background-color: #FF532D;
	}
	.arrow{
		position: absolute;
		margin-top: 10px;
		margin-left: 90%;
	}