@font-face {
  font-family: 'OpenSans-Regular';
src: url('../../static/assets/fonts/OpenSans/OpenSans-Regular.ttf');
}

@font-face {
  font-family: 'OpenSans-SemiBold';
  src: url('../../static/assets/fonts/OpenSans/OpenSans-SemiBold.ttf');
}

@font-face {
  font-family: 'OpenSans-Bold';
  src: url('../../static/assets/fonts/OpenSans/OpenSans-Bold.ttf');
}
@font-face{
  font-family: 'Regular';
  src: url('../../static/assets/fonts/Montserrat/Regular.otf')
  }
 
  @font-face{
  font-family: 'Medium';
  src: url('../../static/assets/fonts/Montserrat/Medium.otf')
  }
  @font-face{
  font-family: 'MediumItalic';
  src: url('../../static/assets/fonts/Montserrat/MediumItalic.otf')
  }
  @font-face{
  font-family: 'Semibold';
  src: url('../../static/assets/fonts/Montserrat/Semibold.otf')
  }
  @font-face{
  font-family: 'SemiboldItalic';
  src: url('../../static/assets/fonts/Montserrat/SemiboldItalic.otf')
  }
  @font-face{
  font-family: 'Bold';
  src: url('../../static/assets/fonts/Montserrat/Bold.otf')
  }
  @font-face{
  font-family: 'BoldItalic';
  src: url('../../static/assets/fonts/Montserrat/BoldItalic.otf')
  }
  @font-face{
  font-family: 'ExtraBold';
  src: url('../../static/assets/fonts/Montserrat/ExtraBold.otf')
  }
  @font-face{
  font-family: 'ExtraBoldItalic';
  src: url('../../static/assets/fonts/Montserrat/ExtraBoldItalic.otf')
  }
  @font-face{
  font-family: 'Black';
  src: url('../../static/assets/fonts/Montserrat/Black.otf')
  }
  @font-face{
  font-family: 'BlackItalic';
  src: url('../../static/assets/fonts/Montserrat/BlackItalic.otf')
  }
  @font-face{
  font-family: 'Thin';
  src: url('../../static/assets/fonts/Montserrat/Thin.otf')
  }
  @font-face{
  font-family: 'ThinItalic';
  src: url('../../static/assets/fonts/Montserrat/ThinItalic.otf')
  }
  @font-face{
  font-family: 'Light';
  src: url('../../static/assets/fonts/Montserrat/Light.otf')
  }
  @font-face{
  font-family: 'LightItalic';
  src: url('../../static/assets/fonts/Montserrat/LightItalic.otf')
  }
  @font-face{
  font-family: 'ExtraLight';
  src: url('../../static/assets/fonts/Montserrat/ExtraLight.otf')
  }
  @font-face{
  font-family: 'ExtraLightItalic';
  src: url('../../static/assets/fonts/Montserrat/ExtraLightItalic.otf')
  }