<div class="login-main side">
    <div class="sideBar">
        <socialBar ></socialBar>
    </div>
    
          <div class="row">
            <div class="login-section "> 

                <h2>Log In</h2>
                <div class="mt-32"><p class="body1"> Already have an account? <a>SIGN UP</a></p> </div>
                <form class="mt-64" @submit = "login">
                    <div class="form-group">
                   
                      <input type="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" v-model="email">
                      
                    </div>
                    <div class="form-group">
                 
                      <input type="password"  id="exampleInputPassword1" placeholder="Password" v-model="password">
                    </div>
                    <p v-if="1" class="mt-16" class="error"> <i class="i-notification"></i> This is error</p>
                  
                    <button type="submit"  class="mt-32">Log In <i class="i-arrow-right2"></i></button>
                    <!-- <div class="fb-login-button" data-width="" data-size="large" data-button-type="continue_with" data-auto-logout-link="false" data-use-continue-as="false">
                           login with facebook
                    </div> -->
                    
                  </form>
                  <div class="col mt-64">
                      <P>Searching for work?</P>
                      <a class="mt-8">APPLY AS FREELANCER <i class="i-arrow-right2"></i></a>
                  </div>
            </div>
            <div  class="cover-section center col"  >
                    <cover></cover>
            </div>
        </div>
    

</div>
</div>